<html>
    <form action="/bill" method="GET">
        <center>
            <h2>Madhya Pradesh Electricity Board</h2>
            <table border="5" cellspacing="0" cellpadding="10">
                <tr>
                    <td><strong>Customer Id : </strong></td>
                    <td><input type="text" name="id"></td>
                </tr>
                <tr>
                    <td><strong>Customer Name : </strong></td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td><strong>Father's Name : </strong></td>
                    <td><input type="text" name="fatherName"></td>
                </tr>
                <tr>
                    <td><strong>Mother's Name : </strong></td>
                    <td><input type="text" name="motherName"></td>
                </tr>
                <tr>
                    <td><strong>Address : </strong></td>
                    <td><textarea name="address" cols="20" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td><strong>Current Reading : </strong></td>
                    <td><input type="number" name="currentReading"></td>
                </tr>
                <tr>
                    <td><strong>Previous Reading : </strong></td>
                    <td><input type="number" name="prevReading"></td>
                </tr>
                <tr>
                    <td><strong>Category : </strong></td>
                    <td><select name="category">
                        <option>---choose category---</option>
                        <option>BPL</option>
                        <option>General</option>
                        <option>Commercial</option>
                    </select></td>
                </tr>
            </table>
            <br>
            <input type="submit">
            <input type="reset">
        </center>
    </form>
</html>